// shelving widget styles


.wrapper {
  max-width: 900px;
  margin: 0 auto;
}
.shelves-wrap {
  position: relative;
  margin-top: 20px;
  &:after {
    width: 800px;
    height: 444px;
    background-image: url("../images/shadow01.png");
    background-size: cover;
    content: " ";
    position: absolute;
    bottom: -150px;
    left: -200px;
    z-index: -1;
  }
}

.wall {
  background-color: #A7856B;
  display: inline-block;
  position: relative;
}

.shelve-items {
  margin: 20px 100px 0 0;
}
