<!DOCTYPE html>
<html ng-app="demoApp">
<head lang="en">
  <meta charset="UTF-8">
  <title>Angular Shelving directive example</title>

  <link href="bower_components/angular/angular-csp.css" rel="stylesheet" type="text/css"/>
  <link href="css/shelving.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div ng-controller="DemoController">
  <div class="wrapper">
  <div sh-builder=""
       selection="selection"
       rows="rows"
       items="items"
       ratio="91/300"
       width="170"
       list-width="150"
       shelvig-width="180"
    >
    <div
      sh-items=""
      style="display: inline-block; vertical-align: top;"
      ></div>
    <div
      sh-shelving=""
      style="display: inline-block; vertical-align: top;"
      ></div>
  </div>
  </div>
  <!--<pre>{{selection|json}}</pre>-->
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="js/shelving.js"></script>

<script>
  (function () {
    'use strict';
    angular
      .module('demoApp', ['shelving'])
      .controller('DemoController', function ($scope) {
        $scope.selection = [[], []];
        $scope.rows = 13;
        $scope.items = [
          {
            id: 3,
            height: 2, // cells
            image: 'images/cabinet2.png',
            // percents from cell height
            imageTop: 0,
            imageHeight: 100,
            color: '#222'
          },
          {
            id: 2,
            height: 3, // cells
            image: 'images/cabinet1.png',
            // percents from cell height
            imageTop: 0,
            imageHeight: 100,
            color: '#b48664'
          },
          {
            id: 1,
            height: 1,
            image: 'images/shelf.png',
            // percents from cell height
            imageTop: 90,
            imageHeight: 10,
            color: '#6E330E'
          }
        ];
      });
  }());
</script>
</body>
</html>
