<div
  ng-mousemove="shBuilder.onMouseMove($event)"
  ng-mouseup="shBuilder.onMouseUp($event)"
  ng-mouseleave="shBuilder.onMouseLeave($event)"
  >
  <ng-transclude></ng-transclude>
  <div ng-if="shBuilder.activeItem && !shBuilder.activeItem.cell">
    <div
      style="position: absolute;"
      ng-style="{
        width:width+'px',
        height:shBuilder.activeItem.height*width*ratio+'px',
        top:shBuilder.activeItem.top+'px',
        left:shBuilder.activeItem.left+'px'
        }">
      <div
        style="width:100%; background-size:100%; background-repeat: no-repeat; position: absolute;"
        ng-style="{
           'top':shBuilder.itemsById[shBuilder.activeItem.id].imageTop+'%',
           'height':shBuilder.itemsById[shBuilder.activeItem.id].imageHeight+'%',
           'background-image': 'url('+shBuilder.itemsById[shBuilder.activeItem.id].image+')'
          }"
        >
      </div>
    </div>
  </div>
</div>
