<div  class="shelve-items">
  <div ng-repeat="item in items">
    <div
      style="margin-bottom: 5px; position: relative;"
      ng-style="{'height': item.height*width*ratio+'px', width: width+'px'}"
      ng-mousedown="onMouseDown($event, item)"
      >
      <div
        style="width:100%; background-size:100%; background-repeat: no-repeat; position: absolute;"
        ng-style="{
          'top':item.imageTop+'%',
          'height':item.imageHeight+'%',
          'background-image': 'url('+item.image+')'
          }"
        >
      </div>
    </div>
  </div>
</div>
