<div class="shelves-wrap">
  <div class="wall"
    ng-style="{
      height:width*ratio*rows + 'px',
      width:width*0.05+'px'
    }"
    >
    <div
      style="height:100%; position: absolute; box-sizing: border-box;"
      ng-style="{
                'left':width*0.05+'px',
                'width':item.cellX*width*ratio/2+'px',
                'border-style':'solid',
                'border-width':''+width*ratio/2+'px  '+width*ratio/2+'px '+width*ratio/2+'px '+width*ratio/2+'px',
                'border-color':'transparent transparent transparent #4A2F1E'
              }"
      >
    </div>
  </div>
  <div
    style="height:100%; position: absolute; box-sizing: border-box; display: inline-block"
    ng-style="{
                'height':width*ratio*rows + 'px',
                'right':width*0.05+'px',
                'width':item.cellX*width*ratio/2+'px',
                'border-style':'solid',
                'border-width':''+width*ratio/2+'px  '+width*ratio/2+'px '+width*ratio/2+'px '+width*ratio/2+'px',
                'border-color':'transparent #4A2F1E transparent transparent'
              }"
    >
  </div>
  <div
    ng-repeat="column in selection"
    style="display: inline-block"
    >
    <div
      ng-mouseup="onMouseUp($event)"
      ng-mousemove="onMouseMove($event)"
      style="display: inline-block"
      >
      <div
        style="position: relative;"
        ng-style="{ height:width*ratio*rows + 'px', width:width+'px'}"
        >

        <div ng-repeat="item in column">
          <div
            style="width:100%; position:absolute;"
            ng-style="{
              height:itemsById[item.id].height*width*ratio+'px',
              top:item.cellY*width*ratio+'px'
            }"
            ng-mousedown="onMouseDown($event, item)"
            >
            <div
              ng-if="item.cellY>rows/2"
              style="width:100%; position: absolute; box-sizing: border-box;"
              ng-style="{
                'top':itemsById[item.id].imageTop+'%',
                'margin-top':'-'+width*ratio*(item.cellY-rows/2)/rows+'px',
                'height':width*ratio*(item.cellY-rows/2)/rows+'px',
                'border-style':'solid',
                'border-width':'0px '+item.cellX*width*ratio/2+'px '+width*ratio*(item.cellY-rows/2)/rows+'px '+(1-item.cellX)*width*ratio/2+'px',
                'border-color':'transparent transparent '+itemsById[item.id].color+' transparent'
              }"
              >
            </div>
            <div
              style="width:100%; background-size:100%; background-repeat: no-repeat; position: absolute;"
              ng-style="{
                'top':itemsById[item.id].imageTop+'%',
                'height':itemsById[item.id].imageHeight+'%',
                'background-image': 'url('+itemsById[item.id].image+')'
              }"
              >
            </div>
            <div
              ng-if="item.cellY+itemsById[item.id].height<rows/2"
              style="width:100%; position: absolute; box-sizing: border-box;"
              ng-style="{
                'top':itemsById[item.id].imageTop+itemsById[item.id].imageHeight+'%',
                'height':width*ratio*(rows/2-item.cellY-itemsById[item.id].height)/rows+'px',

                'border-style':'solid',
                'border-width':''+width*ratio*(rows/2-item.cellY-itemsById[item.id].height)/rows+'px '+item.cellX*width*ratio/2+'px 0px '+(1-item.cellX)*width*ratio/2+'px',
                'border-color':''+itemsById[item.id].color+' transparent transparent transparent'
              }"
              >
            </div>
          </div>
        </div>

      </div>

    </div>
    <div
      ng-if="!$last" class="wall"
      ng-style="{ height:width*ratio*rows + 'px', width:width*0.05+'px'}"
      >
    </div>
  </div>

  <div class="wall"
    ng-style="{
      height:width*ratio*rows + 'px',
      width:width*0.05+'px'
    }"
    >
  </div>
</div>
